/* 환경경영 css */

#content .contentlist {
  margin: 25px 0 55px;
}

#content .topMain img {
  margin: 30px 0 30px;
  width: 100%;
}

.contentlist .conlist {
  margin-bottom: 55px;
}

.contentlist h3 {
  font-size: 1.4375rem;
  font-weight: 600;
  margin: 40px 0;
  text-align: center;
}

.contentlist p {
  margin-bottom: 25px;
  text-align: justify;
  line-height: 2rem;
}

.contentlist p span {
  color: #01abce;
}

.contentlist .topMain img + p {
  font-weight: 500;
  font-size: 1.286em;
  margin-left: 5%;
}

.topMain p:last-child {
  margin: 0 5% 25px;
}

ul.tab_menu {
  display: flex;
  justify-content: center;
}

ul.tab_menu li {
  width: 40%;
  margin: 0 2%;
}

ul.tab_menu a.tab {
  padding: 10px 10px;
  border-radius: 15px;
  background: #f8f8f8;
  display: block;
  text-align: center;
}

.eRule {
  background: #f8f8f8;
  padding: 5px 5% 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.eRule ul li {
  background: #fff;
  padding: 5px 10px;
  box-sizing: border-box;
}

.eRule ul li p {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.eRule ul li p span {
  margin-right: 10px;
  font-weight: 600;
  font-family: initial;
}

.eAct_top {
  text-align: center;
  margin: 30px 5%;
}

.eAct_top h4 {
  font-size: 1.214em;
  font-weight: 500;
}

.eAct_top span {
  display: block;
  margin: 30px auto;
  background: #01abce;
  color: #fff;
  width: 180px;
  text-align: center;
  height: 30px;
  line-height: 2;
  border-radius: 15px;
}

.certificate {
  width: 60%;
  margin: 0 20%;
}

.certificate img + div {
  text-align: center;
}

.certificate img {
  border: 1px solid #ccc;
  width: 100%;
}

.certificate img + div {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background: #f8f8f8;
  cursor: pointer;
}
