/* 동아위드 본문영역 */
#content .contentArea {
}

#content .contentArea > p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 100px;
}

#content .contentArea p + ul li .current {
  background: #01abce;
  color: #fff;
}
