/* FAQ 본문영역 */

#content .contentArea > p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 100px;
}

.faq {
  border-bottom: 1px solid #ccc;
  margin: 160px 0 50px;
  position: relative;
}

.faq .q {
  border-top: 1px solid #ccc;
  position: relative;
}

.faq .q a.trigger {
  display: block;
  padding: 25px 75px;
  color: #333;
  text-align: left;
  text-decoration: none;
  font-size: 1.125em;
}

.faq .q a.trigger::before,
.faq .a::before {
  display: block;
  position: absolute;
  left: 30px;
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 600;
}

.faq .q a.trigger::before {
  content: "Q";
  top: 23px;
  color: #01abce;
}

.faq .a::before {
  content: "A";
  color: #1f415c;
}

.faq .q a.trigger:focus {
  color: #01abce;
}

.faq .hide .q a.trigger {
  font-weight: normal;
  background: none;
}

.faq .q span {
  display: block;
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 1.125em;
}

.faq .a {
  padding: 30px 75px 20px;
  background: #f8f8f8;
  height: 36px;
  display: none;
}

.faq li:nth-of-type(2) .a {
  line-height: 1.7em;
  height: 55px;
  padding-bottom: 25px;
}

.hidden {
  display: block;
  position: absolute;
  left: -1000px;
  top: 0;
  width: 1px;
  height: 1px;
  color: #fff;
  overflow: hidden;
}

.all {
  position: absolute;
  top: -90px;
  right: 10px;
  color: #fff;
  padding: 15px 0 15px 35px;
  width: 170px;
  background: #01abce url(../images/content1/select_d.png) 160px center
    no-repeat;
}

.all span {
  margin-left: 5px;
}

.box {
  background: #f8f8f8;
  padding: 40px 50px;
  overflow: hidden;
  margin: 70px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.box div {
  float: left;
}

.box div span {
  font-size: 1.5em;
  font-weight: 500;
  display: block;
}

.box div p {
  margin-top: 10px;
}

.box div + span {
  display: block;
  float: right;
  margin-top: 10px;
  padding: 12px 40px;
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 10%);
  border-radius: 15px;
  background: #fff;
  transition: background 0.5s, color 0.4s;
}

.box:hover div + span {
  background: #01abce;
}

.box:hover div + span a {
  color: #fff;
}
