/* 채용일정 css */

#content .contentlist {
  margin: 55px 0;
}

.contentlist h3 {
  font-size: 1.4375rem;
  font-weight: 600;
  margin: 40px 0;
  text-align: center;
}

#calendar {
  max-width: 1100px;
  margin: 55px auto;
}