@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* 모바일 코딩 필수 공통영역 */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

body {
  color: #333;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 14px;
  -webkit-tap-highlight-color: transparent
}

img,
fieldset {
  border: 0;
  vertical-align: top;
}

ul,
ol,
li,
dl {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

hr {
  display: none;
}

a {
  color: inherit;
}

a,
a:link {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
}

a:hover,
a:active {
  color: #333;
  text-decoration: none;
}

em,
i,
address {
  font-style: normal;
  font-weight: normal;
}

legend,
caption {
  display: none;
  clear: both;
}

input,
textarea,
select,
button,
table {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

section,
nav,
article,
aside,
hgroup,
header,
footer {
  display: block;
}

textarea,
input {
  border-radius: 1px;
}

textarea {
  resize: none;
}

label {
  cursor: pointer;
}

.hidden,
#skipNav {
  display: block;
  position: absolute;
  left: -1000%;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* 전체 공통 */
#wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* 헤더공통 */

header#headerArea {
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
}

#headerArea .header_top {
  overflow: hidden;
  position: relative;
}

#headerArea .header_top h1 a {
  display: block;
  width: 109px;
  height: 62px;
  margin-left: 15px;
  text-indent: -1000px;
  overflow: hidden;
  background: url(../images/logo01.png) center no-repeat;
  float: left;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #headerArea .header_top h1 a {
    background: url(../images/logo01x2.png) center no-repeat;
    background-size: 109px 22px;
  }
}

#headerArea .header_top h1 a.on {
  background: url(../images/logo02.png) center no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #headerArea .header_top h1 a.on {
    background: url(../images/logo02x2.png) center no-repeat;
    background-size: 109px 22px;
  }
}

#headerArea .header_top .bar {
  padding: 14px 15px 16px;
  float: right;
  display: block;
  font-size: 22px;
  color: #fff;
}

/* GNB공통 */

.box {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
  display: none;
}

nav#gnb {
  width: 96%;
  background: #fff;
  position: absolute;
  right: -100%;
  top: 0;
  opacity: 0;
  z-index: 50;
}

ul.mainMenu {
  padding: 30px 10%;
}

#gnb ul.mainMenu::before {
  content: "";
  display: block;
  background: url(../images/logo02x2.png) 0 0 no-repeat;
  background-size: cover;
  width: 109px;
  height: 22px;
  margin: 20px 0 30px;
}

#gnb ul li.depth1 {
  margin-left: 15px;
}

li.depth1 a {
  display: block;
  position: relative;
}

li.depth1 a span {
  position: absolute;
  right: 5px;
  top: 3px;
}

#gnb ul li h3 {
  font-size: 1.429rem;
  font-weight: 500;
  margin-bottom: 30px;
}

#gnb li ul {
  display: none;
  padding: 0 20px 15px;
}

#gnb li ul li {
  margin-left: 30px;
  font-size: 1.214rem;
  margin-bottom: 15px;
}

li.depth1 ul li a::before {
  content: "-";
  margin-right: 10px;
}

#gnb ul.log {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  background: #f8f8f8;
}

#gnb ul.log li {
    width: 50%;
    padding: 10px 0;
    text-align: center;
    font-size: 1.25em;
}

#gnb ul.log li:first-child {
  position: relative;
}

#gnb ul.log li:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 70%;
  background: #ccc;
  position: absolute;
  right: 0;
  top: 13px;
}

ul.log a {
  display: block;
  padding: 15px;
}

a.close {
  position: absolute;
  right: 6px;
  top: 10px;
  font-size: 2em;
  padding: 0 10px;
  z-index: 10;
}

/* 푸터공통 */

#footerArea {
  background: #f8f8f8;
  font-size: 0.857em;
}

#footerArea .footerTop ul {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #ccc;
}

.footerTop ul li {
  height: 57px;
}

.footerTop ul li a {
  padding: 20px 0;
  display: block;
}

.footerMiddle {
  overflow: hidden;
  margin: 0 5% 0 5%;
}

.footerMiddle .fLogo {
  float: left;
  text-indent: -1000px;
  overflow: hidden;
  width: 105px;
  height: 65px;
  background: url(../images/footerLogo.png) center no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .footerMiddle .fLogo {
    background: url(../images/footerLogox2.png) center no-repeat;
    background-size: 105px 25px;
  }
}

.footerMiddle .sns {
  float: right;
}

.footerMiddle .sns ul {
  overflow: hidden;
}

.footerMiddle .sns ul li {
  float: left;
}

.footerMiddle .sns ul li a {
  display: block;
  padding: 20px 5px;
}

#footerArea .copy {
  padding: 10px 5% 60px;
}

.copy address,
.copy address+p {
  line-height: 1.8em;
}

.copy .family {
  margin-top: 20px;
  width: 100%;
  background: #ccc;
  position: relative;
}

.copy .family .arrow {
  display: block;
  padding: 20px 0 20px 20px;
  background: rgb(232, 232, 232);
  color: #666;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.copy .family .arrow::after {
  content: "";
  display: block;
  clear: both;
}

.copy .family .arrow i {
  padding: 2px 5% 0 0;
  float: right;
}

.copy .family ul.aList {
  width: 100%;
  position: absolute;
  bottom: 54px;
  left: 0;
  display: none;
  z-index: 100;
}

.copy .family ul a {
  display: block;
  padding: 20px 0 20px 20px;
  background: #8697a7;
  color: #fff;
}

#footerArea .top {
  display: block;
  width: 50px;
  height: 50px;
  background: #1f415c;
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: 50;
  color: #fff;
  text-align: center;
  padding: 13px 0;
  box-sizing: border-box;
}

.top i {
  font-size: 1.7rem;
}

.top span {
  position: absolute;
  left: -1000%;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.topText {
  position: fixed;
  right: 0;
  top: 0;
  font-size: 50px;
  z-index: 100;
}